.card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.04);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 15px;
}

.image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 5px 7px rgba(0,0,0,0.2);
    border-radius: 5px;
    height: 95%;
    width: 95%;
}

.image-container img{
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.card-name{
    margin-top: 10px;
    width: 90%;
    font-size: 0.9rem;
    font-weight: bold;
}